{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    
    
    <!-- Material Design -->
    <link rel="stylesheet" href="{% static 'vendor/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/material-components-web.min.css' %}">

    <!-- Bootstrap CSS     -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <title>SteinPizza</title>

  </head>
<body>



    <!-- Bootstrap JS first, then Tether, then jQuery with ajaxs -->
    <script src="{% static 'vendor/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.slim.js' %}"></script>
    <script src="{% static 'vendor/axios.js' %}"></script>
    <script src="{% static 'vendor/cookie.js' %}"></script>
    <script src="{% static 'vendor/vuejs.vue' %}"></script>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light neumorphism">
      <a class="navbar-brand" href="#">SteinPizza</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item {% if request.resolver_match.view_name == 'products' %}active{% endif %}">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item {% if request.resolver_match.view_name == 'basket' %}active{% endif %}">
            <a class="nav-link" href="{% url 'basket' %}">Basket</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container">
      {% block content %}
      {% endblock content %}
  </div>

  </body>

</html>