{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <!-- Bootstrap CSS     -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <title>SteinPizza</title>

  </head>
<body>



    <!-- Bootstrap JS first, then Tether, then jQuery with ajaxs -->
    <script src="{% static 'vendor/jquery.slim.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/bootstrap.min.js' %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/axios.js' %}"></script>
    <script src="{% static 'vendor/cookie.js' %}"></script>
    <script src="{% static 'vendor/vuejs.vue' %}"></script>


    <div class="container">
      {% block content %}
      {% endblock content %}
  </div>

  </body>

</html>