body{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

.list-group-item.product{
    border: none;
    display: flex;
    margin-bottom: 15px;
    padding: 12px 10px 10px 20px;
    border-radius: 10px;
    background-color: #F3F3F3;
    box-shadow: 10px 10px 20px #E0E0E0, -10px -10px 20px #FFFFFF;
}
.product h4{
    font-size: 20pt;
    font-weight: bold;
}
.product h5{
    font-size: 18pt;
}

.product-img{
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.product-img img{
    border-radius: 10px;

    max-width: 100%;
    max-height: 110px;  


    
}

.products-btn{
    display: flex;
    justify-content: space-between;
    width: 125px;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    color: white;
    background: linear-gradient(91.46deg, #D60000 17.7%, #CB0000 86.15%);
    border-radius: 10px;
    margin: 10px 0px 0px 15px;
}


.products-detail{
    flex: 0 1 75%;
    margin: 15px 0px 0 20px;
}

.product-detail-s2{
    display: flex;
    justify-content: space-between;
}