
.list-group-item.product{
    border: none;
    display: flex;
    margin-bottom: 15px;
    padding: 12px 10px 10px 20px;

}
.product h4{
    font-size: 150%;
    font-weight: bold;
}
.product h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.product h5{
    font-size: 18pt;
}

.product-img{
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.product-img img{
    border-radius: 10px;

    max-width: 100%;
    max-height: 110px;  


    
}

.products-btn{
    display: flex;
    justify-content: space-between;
    width: 130px;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    color: white;
    background: linear-gradient(91.46deg, #D60000 17.7%, #CB0000 86.15%);
    border-radius: 10px;
    margin: 10px 0px 0px 15px;
}


.products-detail{
    flex: 0 1 75%;
    margin: 15px 0px 0 20px;
}

.product-detail-s2{
    display: flex;
    justify-content: space-between;
}
.product-filter{
    display: inline-flex;
    width: auto;
    padding: 5px;
}

.filter-dropdown{
    margin-left: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;     
    background: transparent ;  
}